In [1]:
path=r"C:\Users\ranad\Desktop\Sche\Machine learning\Projects\Twitter Sentiment\tweet-sentiment-extraction"
import numpy as np
import pandas as pd
twt=pd.read_csv(path+"\\train.csv")

FileNotFoundError: [Errno 2] File tweet-sentiment-extraction\train.csv does not exist: 'tweet-sentiment-extraction\\train.csv'

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
def label(x):
    if(x=="neutral"):
        return 1
    elif(x=="positive"):
        return 2
    else: return 0

In [4]:
twt

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [5]:
lab=twt["sentiment"]
la=lab.map(label)  ##New thing
twt["score"]=la

In [6]:
twt

,textID,text,selected_text,sentiment,score
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,1
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,0
2,088c60f138,my boss is bullying me...,bullying me,negative,0
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,0
...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,0
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,0
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,2
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,2
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,1

In [7]:
len(twt["textID"].unique()) 
twt["sentiment"].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [8]:
for index,row in twt.iterrows():
    if(type(row["text"]) is str):
        continue
    else:
        print(index)
        print(row)

314
textID           fdb77c3752
text                    NaN
selected_text           NaN
sentiment           neutral
score                     1
Name: 314, dtype: object

In [9]:
twt["text"][314]

nan

In [10]:
twt[twt.isnull().any(axis=1)] ## NEW THING

         textID text selected_text sentiment  score
314  fdb77c3752  NaN           NaN   neutral      1

### Text Preprocessing

In [11]:
twt["text"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
27476    False
27477    False
27478    False
27479    False
27480    False
Name: text, Length: 27481, dtype: bool

In [12]:
twt1=twt.drop([314])

In [13]:
X=twt1.drop(["score","sentiment"],axis=1)
Y=twt1["score"]

In [14]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)
Xtrain,Xcv,Ytrain,Ycv=train_test_split(Xtrain,Ytrain,test_size=0.2)

In [19]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
text=Xtrain["text"]

In [22]:
bow=CountVectorizer()
bow.fit(text)
textVect=bow.transform(text)

CountVectorizer()

In [44]:
print("length of the dictionary created with twitter text: "+str(len(bow.get_feature_names())))
print("shape of the vector for twitter text is: "+str(textVect.get_shape()))
print("few words in the dictionary are: ")
print(bow.get_feature_names()[:10])

length of the dictionary created with twitter text: 20180
shape of the vector for twitter text is: (17587, 20180)
few words in the dictionary are:
['00', '000', '000th', '00am', '01', '02', '024', '02mxjj', '03', '04']

In [46]:
from gensim.models import Word2Vec
from gensim.models import KeyedVectors
w2v_model=KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)
w2vwords=list(w2v_model.vocab)

In [62]:
w2vwords[:5]

['</s>', 'in', 'for', 'that', 'is']

In [65]:
w2v_model.most_similar("vehicle")

[('car', 0.7821096181869507),
 ('SUV', 0.7577638626098633),
 ('vehicles', 0.7492177486419678),
 ('minivan', 0.72130286693573),
 ('Jeep', 0.704788327217102),
 ('pickup_truck', 0.7040187120437622),
 ('truck', 0.702707052230835),
 ('Ford_Explorer', 0.6987137198448181),
 ('vehcile', 0.6957592368125916),
 ('Chevy_Trailblazer', 0.660554826259613)]