In [6]:
path=r"C:\Users\ranad\Desktop\Sche\Machine learning\Projects\Twitter Sentiment\tweet-sentiment-extraction"
import numpy as np
import pandas as pd
twt=pd.read_csv(path+"\\train.csv")

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
def label(x):
    if(x=="neutral"):
        return 1
    elif(x=="positive"):
        return 2
    else: return 0

In [9]:
twt

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [10]:
lab=twt["sentiment"]
la=lab.map(label)  ##New thing
twt["score"]=la

In [11]:
twt

,textID,text,selected_text,sentiment,score
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,1
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,0
2,088c60f138,my boss is bullying me...,bullying me,negative,0
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,0
...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,0
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,0
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,2
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,2
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,1

In [12]:
len(twt["textID"].unique()) 
twt["sentiment"].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [13]:
for index,row in twt.iterrows():
    if(type(row["text"]) is str):
        continue
    else:
        print(index)
        print(row)

314
textID           fdb77c3752
text                    NaN
selected_text           NaN
sentiment           neutral
score                     1
Name: 314, dtype: object

In [14]:
twt["text"][314]

nan

In [15]:
twt[twt.isnull().any(axis=1)] ## NEW THING

         textID text selected_text sentiment  score
314  fdb77c3752  NaN           NaN   neutral      1

### Text Preprocessing

In [16]:
twt["text"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
27476    False
27477    False
27478    False
27479    False
27480    False
Name: text, Length: 27481, dtype: bool

In [17]:
twt1=twt.drop([314])

In [18]:
X=twt1.drop(["score","sentiment"],axis=1)
Y=twt1["score"]

In [19]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)
Xtrain,Xcv,Ytrain,Ycv=train_test_split(Xtrain,Ytrain,test_size=0.2)

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
text=Xtrain["text"]

In [22]:
bow=CountVectorizer()
bow.fit(text)
textVect=bow.transform(text)

In [23]:
print("length of the dictionary created with twitter text: "+str(len(bow.get_feature_names())))
print("shape of the vector for twitter text is: "+str(textVect.get_shape()))
print("few words in the dictionary are: ")
print(bow.get_feature_names()[:10])

length of the dictionary created with twitter text: 20154
shape of the vector for twitter text is: (17587, 20154)
few words in the dictionary are:
['00', '000', '000th', '00pm', '01', '024', '02mxjj', '03', '04', '05']

In [24]:
from gensim.models import Word2Vec
from gensim.models import KeyedVectors
w2v_model=KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)
w2vwords=list(w2v_model.vocab)

ModuleNotFoundError: No module named 'gensim'

In [ ]:
w2vwords[:5]

In [ ]:
w2v_model.most_similar("vehicle")

In [71]:
from wordcloud import WordCloud,STOPWORDS,ImageColorGenerator
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

In [79]:
vocab_size=10000
oov_tok="<OOV>"
embedding_dim=64
max_length=120
trunc_type="post"
epoch_num=10

In [35]:
Xtrain

,textID,text,selected_text
7311,e0eb550e79,so tired. only need to be here another 30 mi...,so tired.
138,f3cf8ec01b,Humous and Dorito`s.... Oh yes,Humous and Dorito`s.... Oh yes
23285,a0b1f6c22c,Jared`s wearing a green shirt? *SPARKLY EYES*...,Jared`s wearing a green shirt? *SPARKLY EYES* ...
12361,56535db7e9,I`m bummed that the contest is only for the 4...,I`m bummed
26935,9bb2417f44,I saw the pic. You surely don`t look like Ami...,I saw the pic. You surely don`t look like Amis...
...,...,...,...
20675,9e962ba736,With bff _chrissy22 glad she got that dog out ...,stomatch hurts
6672,a213754ad1,_cali Good morning,Good morning
952,ed5a6ba312,My mom just texted me and told me that Rodney ...,My mom just texted me and told me that Rodney ...
20357,a97f9d02c6,I`m officially on holiday! A week in Center Pa...,I`m officially on holiday! A week in Center Pa...
4384,1aaa87b4a3,_michele but sometimes not having to say nice ...,michele but sometimes not having to say nice t...

In [36]:
texts=[Xtrain.iloc[i,1] for i in range(Xtrain.shape[0])]

In [39]:
tokenizer=Tokenizer(num_words=vocab_size,oov_token=oov_tok)
tokenizer.fit_on_texts(texts)
word_index=tokenizer.word_index
sequences=tokenizer.texts_to_sequences(texts)
padded=pad_sequences(sequences,maxlen=max_length,truncating=trunc_type)
Ylabels=Ytrain.to_numpy()

In [69]:
Xcv_sentences=[Xcv.iloc[i,1] for i in range(Xcv.shape[0])]
Xcv_sequences=tokenizer.texts_to_sequences(Xcv_sentences)
Xcv_padded=pad_sequences(Xcv_sequences,maxlen=max_length,truncating=trunc_type)
Xcv_labels=Ycv.to_numpy()

In [ ]:
model=tf.keras.Sequential([tf.keras.layers.Embedding(vocab_size,embedding_dim,input_length=max_length),
                         tf.keras.layers.Flatten(),
                         tf.keras.layers.Dense(15,activation='relu'),
                         tf.keras.layers.Dense(3,activation="softmax")])
model.compile(loss='binary_crossentropy',optimizer="adam",metrics=['accuracy'])
model.summary()
model.fit(padded,Ylabels,epochs=epoch_num,validation_data=(Xcv_padded,Xcv_labels))

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, 120, 64)           640000
_________________________________________________________________
flatten_5 (Flatten)          (None, 7680)              0
_________________________________________________________________
dense_10 (Dense)             (None, 15)                115215
_________________________________________________________________
dense_11 (Dense)             (None, 3)                 48
=================================================================
Total params: 755,263
Trainable params: 755,263
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
550/550 [==============================] - 4s 8ms/step - loss: 1.1233 - accuracy: 0.3087 - val_loss: 1.1144 - val_accuracy: 0.3070
Epoch 2/10
550/550 [==============================] - 4s 7ms/step - loss: 1.1233 - accuracy: 0.3134 - val_loss: 1.1144 - val_accuracy: 0.3070
Epoch 3/10
550/550 [==============================] - 4s 7ms/step - loss: 1.1233 - accuracy: 0.3140 - val_loss: 1.1144 - val_accuracy: 0.4087
Epoch 4/10
324/550 [================>.............] - ETA: 1s - loss: 1.1226 - accuracy: 0.3109